---
layout: markdown_page
title: Release Post Scheduling
page_class: release-post-scheduling
---

%div{:style => "margin: 25px 0px;"}
  %h3 Release Post Scheduling
  Each month a Product Manager will #{link_to "lead the release post authorship", "../#authorship"}, and a Product Marketing Manager will #{link_to "lead the messaging", "../#messaging-lead"}. Other members will be responsible for the structural check, copy edit, and social media posts.

%table.table-responsive{:style => "margin-bottom: 25px; white-space: nowrap;"}
  %thead
    %tr
      %th{:style => "padding-right: 50px; text-align: right;"}
        Version
      %th.text-center
        Release date
      %th.text-center
        Manager
      %th.text-center
        Messaging
      %th.text-center
        Structural check
      %th.text-center
        Copy edit
      %th.text-center
        Social
  %tbody
    - [*data.release_post_managers.releases, nil].each_cons(2) do |r|
      - manager = data.release_post_managers.managers.find {|m| m.handle == r[0].manager}
      - structural_check = data.release_post_managers.managers.find {|m| m.handle == r[0].structural_check}
      - copy_edit = data.release_post_managers.managers.find {|m| m.handle == r[0].copy_edit}
      - messaging = data.release_post_managers.managers.find {|m| m.handle == r[0].messaging}
      - social = data.release_post_managers.managers.find {|m| m.handle == r[0].social}
      - date = Date.parse(r[0].date)
      - unpublished = (date - Date.today).to_i >= 0
      - current = unpublished && (r[1] && (Date.parse(r[1].date) - Date.today).to_i < 0)
      %tr{:style => ("background-color: ghostwhite;" if current)}
        %td{:style => "padding-right: 50px; text-align: right;"}
          - if current
            = "➡&nbsp;&nbsp;&nbsp;"
          - if unpublished
            = r[0].version
          - else
            = link_to "#{r[0].version}", "/#{date.strftime('%Y/%m/%d')}/gitlab-#{r[0].version.tr('.', '-')}-released"
        %td
          = date.strftime("%B #{date.day.ordinalize}, %Y (%a)")
        %td.text-center
          - if manager
            = link_to "#{manager.name}", "/company/team/##{manager.team_page}"
        %td.text-center
          - if messaging
            = link_to "#{messaging.name}", "/company/team/##{messaging.team_page}"
        %td.text-center
          - if structural_check
            = link_to "#{structural_check.name}", "/company/team/##{structural_check.team_page}"
        %td.text-center
          - if copy_edit
            = link_to "#{copy_edit.name}", "/company/team/##{copy_edit.team_page}"
        %td.text-center
          - if social
            = link_to "#{social.name}", "/company/team/##{social.team_page}"
